@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #292830;
  font-size: 16px;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

::-webkit-scrollbar {
  display: none;
}

.list-highlight {
  background: #e0e0e0;
  border-right: 2px solid #000000;
}

/* Heading */
.heading {
  background: #292830;
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #ffffff;
}
.heading img {
  height: 3vh;
}
.heading i {
  cursor: pointer;
}
.heading i:hover {
  color: #b6b4c5;
  transform: scale(1.2);
}
.heading .logo {
  cursor: pointer;
}
.heading .logo:hover {
  transform: scale(1.2);
}

/* Main container */
.main {
  height: 94.75vh;
  display: flex;
  line-height: 30px;
  letter-spacing: 0.5px;
}

/* NAVIGATION */
.main .navigation {
  position: relative;
  width: 400px;
  background: #ffffff;
  overflow-y: scroll;
}
.main .navigation .search-container {
  text-align: center;
}
.main .navigation .search-container #search {
  margin: 20px auto;
  padding: 10px;
  border-radius: 2px;
  border: 0.5px solid #c1c1c1;
  font-size: 16px;
}
.main .navigation ul {
  list-style: none;
  font-weight: 500;
}
.main .navigation ul li {
  padding: 20px 0 20px 30px;
  cursor: pointer;
}
.main .navigation ul li:hover {
  background: #e0e0e0;
}

/* CONTENT */
.main .content {
  width: 100%;
  background: #f2f2f2;
  padding: 50px;
  overflow-y: scroll;
}
.main .content img {
  margin-left: auto;
  margin-right: auto;
  max-width: 500px;
}
.main .content .content-heading {
  display: flex;
  justify-content: space-between;
}
.main .content .content-heading i {
  margin-left: 10px;
  cursor: pointer;
}
.main .content .content-heading i:hover {
  color: #292830;
  transform: scale(1.2);
}
.main .content .content-heading h2 {
  margin: 25px 0;
}
.main .content .player-info {
  margin: 40px 0 15px;
}
.main .content .player-info .player-info__head button {
  text-transform: lowercase;
  font-size: 20px;
  font-weight: 500;
  border: none;
  padding: 5px 0;
  margin-bottom: 15px;
  border-top: 2px solid #333333;
  outline: none;
}

/* Form */
.main .content form {
  margin: 30px 0;
}
.main .content form #name {
  padding: 10px;
  font-size: 16px;
  border-radius: 2px;
  border: 0.5px solid #c1c1c1;
  margin: 10px 0 20px;
  outline: none;
  width: 100%;
}
.main .content form .buttons {
  text-align: right;
  margin: 20px 0;
}
.main .content form .buttons button {
  font-size: 16px;
  background: #292830;
  border-radius: 2px;
  color: #ffffff;
  border: none;
  padding: 10px 30px;
  margin-left: 10px;
  cursor: pointer;
}
.main .content form .buttons button:hover {
  background: #333333;
  transform: scale(1.03);
}
